version: '3.1'

services:
  db:
    image: postgres:12
    restart: always
    ports:
      - 5434:5432
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DATABASE: postgres
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 3000:3000
    depends_on:
      - "db"
    environment:
      DATABASE_URL: postgres://yara_owner:password@db:5432/yara
      SHADOW_DATABASE_URL: postgres://yara_owner:password@db:5432/yara_shadow
      OWNER_URL: postgres://postgres:postgres@db:5432/yara
      ROOT_DATABASE_URL: postgres://postgres:postgres@db:5432/postgres

    command: npm run demo

